<section class="row">
  <div class="col-md-12">
    <h1>Cadastro de produtos</h1>
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" maxlength="30" formControlName="name" placeholder="Nome do produto">
          </div>

          <div class="form-group">
            <label for="preco">Preço:</label>
            <input type="text" class="form-control" id="preco" maxlength="10" formControlName="price" placeholder="Preço do produto">
          </div>

          <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" id="descricao" maxlength="50" formControlName="description" placeholder="Descrição do produto">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button class="btn btn-default" (click)="goBack()">Voltar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>