<section class="row">
  <div class="col-md-12">
    <h1>Listagem de produtos</h1>

    <div class="form-group">
      <a (click)="redirect()" class="btn btn-success">Novo</a>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-dark table-borderless">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="produtos == 0">
            <td colspan="5" align="center">Nenhuma informação encontrada</td>
          </tr>
          <tr *ngFor="let prod of produtos">
            <th> {{ prod.id }} </th>
            <td> {{ prod.name }} </td>
            <td> {{ prod.description }} </td>
            <td> R$ {{ prod.value }} </td>
            <td>
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-sm btn-primary">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-sm btn-warning">
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>